RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1.php [L]


# RewriteEngine On

# # Aturan pertama
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^([^\.]+)/?$ $1.php [L]

# # Aturan kedua untuk URL tanpa parameter
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^/]+)/?$ index.php?page=$1 [L]

# # Aturan ketiga untuk URL dengan parameter
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^/]+)/([^/]+)/?$ index.php?page=$1&$2 [L]
